*{
    margin: 0;
    padding: 0;
}
body{
    background-color: #fff09c;
}
.areaPrincipal { /*Asi se define una clase*/
background-image: url(./img/2.jpg); /*agregar fondo de imagen al div*/
background-repeat: no-repeat; /*permitir o no que se repita una imagen*/
width: 100%;
height: auto;
opacity: 0.7; /*Opacidad de la imagen*/
-webkit-background-size: 100% 100%;
/*Sfari 3.0*/
-moz-background-size: 100% 100%;
/*Gecko 1.9.2(Firefox 3.6)*/
-o-background-size: 100% 100%;
/*Opera 9.5*/
background-size: 100% 100%;
/*Geko 2.0(Firefox 4.0) and other CSS3-compilant browsers*/
}
#encabezado {
    background: #ffffff;
    height: 240px;
    text-align: center;
    background-image: url(./img/logo.png);
    background-repeat: no-repeat;
    background-size: 180px 180px;
}
.piePagina{
    width: 100%; /*ancho*/
    height: 100px; /*alto*/
    background: #15101b; /*Color de fondo*/
    color:white; /*Color de letra dentro de la clase*/
    bottom: 0; /*Espacio de separacion parte inferior*/
    position: fixed;
    left: 0; /*Alineacion de contenidos a la izquierda*/

}
#menu{ /*indentificador*/
height: 40px;
position: relative;
top: 200px;
}
ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #0e0e0e;
}
li{
    float: left;
}
li a{
    display: block;
    color: white;
    text-align: center;
    padding: 10px;
    text-decoration: none;
}
li a:hover{
    background-color: #111111;
}
#datos {
    width: 80%;
    background-color: rgb(247, 234, 161);
    height: 1300px;
    margin: auto;
    opacity: 1;
    color: #39424b;
    padding: 10px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif';
}